<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,65},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{60,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>bom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>bom03.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,128},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>bom04.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,64},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{64,63}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>bom05.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,0},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{64,63}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>bom06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{64,62}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>bom07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{64,62}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>bom08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{64,62}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{195,193}</string>
			<key>textureFileName</key>
			<string>boms.png</string>
			</dict>
		</dict>
</plist>